/* 
    stylesheet.css 
    this sheet contains the custome styles for practicePage.html
*/
body{
	font-size: 3em;
}
.spacer{
   	margin-right: 16px;
	margin-left: 16px;
	white-space: nowrap;
}
a.vocabWord{
	text-decoration: none;
}
a.vocabWord div:hover{
	text-decoration: none;
	background-color: rgb(228,228,228);
}
.panel-title{
	font-size: 1.4em;
}
.panel-heading{
	padding: 4px 4px 4px 12px;
	color: rgb(62,62,62);	
}
.panel-heading:hover{
	color: rgb(22,62,162);
}
.panel-body{
	background-color: rgb(238,238,238); 
}
.sentence{
	border: 1px solid rgb(238,238,238);	
	border-radius: 10px;
}
.sentence:hover{
	background-color: white;
	border: 1px solid rgb(162,162,162);	
	cursor:pointer;
	text-decoration: none;
}
.definition{
	font-size: .8em;
}
